@inherits LayoutComponentBase
@inject CacheService CacheService

<PageTitle>Power monitoring</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button type="button" class="btn btn-secondary" @onclick="CacheService.ClearAllCache">Clear cache</button>

            &nbsp;&nbsp;

            Version 1.0.0
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
