@inherits LayoutComponentBase
@inject ICacheService CacheService
@inject NavigationManager NavigationManager;
@inject IJSRuntime JsRuntime

@code {
    async Task ClearCacheAndRefresh()
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
        if (confirmed)
        {
            CacheService.ClearAllCache();
            var currentLocation = NavigationManager.Uri;
            NavigationManager.NavigateTo(currentLocation, forceLoad: true);
        }
    }
}

<PageTitle>Power monitoring</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button type="button" class="btn btn-secondary" @onclick="ClearCacheAndRefresh">Clear cache</button>

            &nbsp;&nbsp;

            Version 1.0.0
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
