@page "/messagebroker"
@using Newtonsoft.Json
@inject KafkaBroker _kafkaService
@inject DanishEnergyPriceRetriever _danishEnergyPriceRetriever
@inject IncomingDanishEnergyPriceHandler _incomingDanishEnergyPriceHandler

@code {
    private string queueName = "quickstart";
    private string messageContent = "message from blazor";
    private List<LiveViewItemViewModel> ArrivedMessages = new List<LiveViewItemViewModel>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Ensure this is only triggered on first load - not every time the view is rerendered
            await Initialize();
            Console.WriteLine("First render OK");
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task Initialize()
    {
        // start listening for messages
        Task task = Task.Run(() =>
        {
            Client.Middleware.KafkaBrokerMiddleware.KafkabrokerInstance.MessageArrived += OnMessageArriveInUI;
        });

        await InvokeAsync(() => StateHasChanged());
    }

    private async Task ProduceSample()
    {
        await _kafkaService.Produce(queueName, messageContent);
    }

    private async Task FetchPricesAndProduce()
    {
        var prices = await _danishEnergyPriceRetriever.GetDayPricesForPriceAreaAsync(DanishEnergyPriceArea.DK1, 24);
        await _kafkaService.Produce(queueName, JsonConvert.SerializeObject(prices));
    }

    private void StopConsumer()
    {
        _kafkaService.StopConsuming();
    }

    private void OnMessageArriveInUI(string message)
    {
        ArrivedMessages.Add(new LiveViewItemViewModel { DateTime = DateTime.Now, Message = message });
        ArrivedMessages = ArrivedMessages.OrderByDescending(x => x.DateTime).ToList();
        InvokeAsync(() => StateHasChanged());
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-secondary" @onclick="ProduceSample">Produce a sample message</button>
            <input name="theMessage" @bind="messageContent" />
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary" @onclick="FetchPricesAndProduce">Process: Fetch energy prices, queue message, receieve and cache for use on dashboard</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary" @onclick="StopConsumer">Stop consumer</button>
        </div>
    </div>

    <br /><br />

    <div class="row">
        @foreach (var message in ArrivedMessages)
        {
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <p class="card-text">
                        @message.DateTime - '@message.Message'
                    </p>
                </div>
            </div>
        }
    </div>
</div>