@code {
    [Parameter]
    public PowerProductionResponse PowerProduction { get; set; }
}

<h1>
    Solar power production
    @if (PowerProduction != null && PowerProduction.IsFromCache)
    {
        <em style="font-size: 30%; text-transform:uppercase; vertical-align: super; color: #3b64dd;">Cached</em>
    }
</h1>

@if (PowerProduction == null)
{
    <p>
        Loading production...
    </p>
}
else if (PowerProduction.Watts == -1)
{
    <p>
        Error fetching data.
    </p>
}
else
{
    <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <p class="card-text">
                <strong>Produced:</strong> @PowerProduction.Watts watts<br>
                <strong>Date:</strong> @PowerProduction.DateTime.ToShortDateString() <br>
                <strong>Hour:</strong> @(PowerProduction.DateTime.Hour):00 - @(PowerProduction.DateTime.Hour):59<br>
                <strong>Data source:</strong> FTP/CSV file<br>
            </p>

        </div>
    </div>
}